div.et_pb_section.et_pb_section_0_tb_footer {
    background-image: linear-gradient(91deg, #e36527 23%, rgba(57, 148, 181, 0.63) 100%), url(../../../twc-content/img/HOXF04287.jpg) !important
}

.et_pb_section_0_tb_footer.et_pb_section {
    padding-top: 120px;
    padding-bottom: 120px
}

.et_pb_row_0_tb_footer.et_pb_row,
.et_pb_row_2_tb_footer.et_pb_row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px
}

.et_pb_text_0_tb_footer h3 {
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff !important;
    line-height: 1.4em;
    text-align: left
}

.et_pb_text_0_tb_footer {
    border-left-width: 3px;
    border-left-color: #D2A98E;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    max-width: 620px
}

.et_pb_text_4_tb_footer.et_pb_text,
.et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2 .et_pb_contact_right p,
.et_pb_text_2_tb_footer.et_pb_text,
.et_pb_text_1_tb_footer.et_pb_text {
    color: #ffffff !important
}

.et_pb_text_1_tb_footer {
    line-height: 1.8em;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 1.8em;
    padding-left: 30px !important;
    margin-top: -8px !important;
    max-width: 441px
}

.et_pb_image_0_tb_footer {
    max-width: 40px;
    text-align: center
}

.et_pb_text_2_tb_footer {
    line-height: 1em;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 1em;
    margin-top: 30px !important
}

.et_pb_text_3_tb_footer.et_pb_text {
    color: #FFFFFF !important
}

.et_pb_text_3_tb_footer {
    line-height: 1em;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1em
}

body #page-container .et_pb_section .et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2.et_pb_module .et_pb_button {
    color: #ffffff !important;
    border-color: #D2A98E;
    background-color: #D2A98E !important
}

.et_pb_section_1_tb_footer.et_pb_section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #e36527 !important
}

.et_pb_text_4_tb_footer {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.et_pb_image_1_tb_footer .et_pb_image_wrap img {
    max-height: 35px;
    width: auto
}

.et_pb_image_1_tb_footer {
    text-align: right;
    margin-right: 0
}

.et_pb_column_1_tb_footer {
    padding-top: 33px
}

.et_pb_text_1_tb_footer.et_pb_module,
.et_pb_text_0_tb_footer.et_pb_module {
    margin-left: 0px !important;
    margin-right: auto !important
}

.et_pb_image_0_tb_footer.et_pb_module {
    margin-left: auto !important;
    margin-right: auto !important
}

@media only screen and (min-width:981px) {

    .et_pb_row_0_tb_footer,
    body #page-container .et-db #et-boc .et-l .et_pb_row_0_tb_footer.et_pb_row,
    body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0_tb_footer.et_pb_row,
    body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container .et_pb_row_0_tb_footer.et_pb_row {
        width: 90%
    }
}

@media only screen and (max-width:980px) {

    .et_pb_row_0_tb_footer,
    body #page-container .et-db #et-boc .et-l .et_pb_row_0_tb_footer.et_pb_row,
    body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0_tb_footer.et_pb_row,
    body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container .et_pb_row_0_tb_footer.et_pb_row {
        width: 90%;
        max-width: 90%
    }

    .et_pb_text_0_tb_footer {
        border-left-width: 3px;
        border-left-color: #D2A98E
    }

    .et_pb_text_1_tb_footer {
        margin-top: -18px !important
    }

    .et_pb_image_0_tb_footer .et_pb_image_wrap img,
    .et_pb_image_1_tb_footer .et_pb_image_wrap img {
        width: auto
    }

    .et_pb_text_3_tb_footer {
        margin-top: -10px !important
    }

    body #page-container .et_pb_section .et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2.et_pb_module .et_pb_button:after {
        display: inline-block;
        opacity: 0
    }

    body #page-container .et_pb_section .et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2.et_pb_module .et_pb_button:hover:after {
        opacity: 1
    }
}

@media only screen and (max-width:767px) {
    .et_pb_text_0_tb_footer h3 {
        font-size: 30px
    }

    .et_pb_text_0_tb_footer {
        border-left-width: 3px;
        border-left-color: #D2A98E
    }

    .et_pb_text_1_tb_footer {
        margin-top: -18px !important
    }

    .et_pb_image_0_tb_footer .et_pb_image_wrap img,
    .et_pb_image_1_tb_footer .et_pb_image_wrap img {
        width: auto
    }

    .et_pb_text_3_tb_footer {
        font-size: 35px;
        margin-top: -10px !important
    }

    body #page-container .et_pb_section .et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2.et_pb_module .et_pb_button:after {
        display: inline-block;
        opacity: 0
    }

    body #page-container .et_pb_section .et_pb_contact_form_0_tb_footer.et_pb_contact_form_container2.et_pb_module .et_pb_button:hover:after {
        opacity: 1
    }
}