.container,
.et_pb_row,
.et_pb_slider .et_pb_container,
.et_pb_fullwidth_section .et_pb_title_container,
.et_pb_fullwidth_section .et_pb_title_featured_container,
.et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1170px
}

.et_boxed_layout #page-container,
.et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #top-header,
.et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #main-header,
.et_fixed_nav.et_boxed_layout #page-container #top-header,
.et_fixed_nav.et_boxed_layout #page-container #main-header,
.et_boxed_layout #page-container .container,
.et_boxed_layout #page-container .et_pb_row {
    max-width: 1330px
}

a {
    color: #e36527
}

#main-header .nav li ul {
    background-color: #ec6726
}

#top-header,
#et-secondary-nav li ul {
    background-color: #f8f8f8
}

#top-header,
#top-header a {
    color: #361b10
}

.et_header_style_centered .mobile_nav .select_page,
.et_header_style_split .mobile_nav .select_page,
.et_nav_text_color_light #top-menu>li>a,
.et_nav_text_color_dark #top-menu>li>a,
#top-menu a,
.et_mobile_menu li a,
.et_nav_text_color_light .et_mobile_menu li a,
.et_nav_text_color_dark .et_mobile_menu li a,
#et_search_icon:before,
.et_search_form_container input,
span.et_close_search_field:after,
#et-top-navigation .et-cart-info {
    color: #361b10
}

.et_search_form_container input::-moz-placeholder {
    color: #361b10
}

.et_search_form_container input::-webkit-input-placeholder {
    color: #361b10
}

.et_search_form_container input:-ms-input-placeholder {
    color: #361b10
}

#main-header .nav li ul a {
    color: #ffffff
}

#top-header,
#top-header a,
#et-secondary-nav li li a,
#top-header .et-social-icon a:before {
    font-size: 14px
}

#top-menu li a {
    font-size: 16px
}

body.et_vertical_nav .container.et_search_form_container .et-search-form input {
    font-size: 16px !important
}

#top-menu li a,
.et_search_form_container input {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none
}

.et_search_form_container input::-moz-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none
}

.et_search_form_container input::-webkit-input-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none
}

.et_search_form_container input:-ms-input-placeholder {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none
}

#top-menu li.current-menu-ancestor>a,
#top-menu li.current-menu-item>a,
#top-menu li.current_page_item>a {
    color: #ec6726
}

@media only screen and (min-width:981px) {

    .et_header_style_left #et-top-navigation,
    .et_header_style_split #et-top-navigation {
        padding: 50px 0 0 0
    }

    .et_header_style_left #et-top-navigation nav>ul>li>a,
    .et_header_style_split #et-top-navigation nav>ul>li>a {
        padding-bottom: 50px
    }

    .et_header_style_split .centered-inline-logo-wrap {
        width: 100px;
        margin: -100px 0
    }

    .et_header_style_split .centered-inline-logo-wrap #logo {
        max-height: 100px
    }

    .et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo {
        height: 100px
    }

    .et_header_style_centered #top-menu>li>a {
        padding-bottom: 18px
    }

    .et_header_style_slide #et-top-navigation,
    .et_header_style_fullscreen #et-top-navigation {
        padding: 41px 0 41px 0 !important
    }

    .et_header_style_centered #main-header .logo_container {
        height: 100px
    }

    #logo {
        max-height: 80%
    }

    .et_pb_svg_logo #logo {
        height: 80%
    }

    .et_header_style_left .et-fixed-header #et-top-navigation,
    .et_header_style_split .et-fixed-header #et-top-navigation {
        padding: 50px 0 0 0
    }

    .et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a,
    .et_header_style_split .et-fixed-header #et-top-navigation nav>ul>li>a {
        padding-bottom: 50px
    }

    .et_header_style_centered header#main-header.et-fixed-header .logo_container {
        height: 100px
    }

    .et_header_style_split #main-header.et-fixed-header .centered-inline-logo-wrap {
        width: 100px;
        margin: -100px 0
    }

    .et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
        max-height: 100px
    }

    .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
        height: 100px
    }

    .et_header_style_slide .et-fixed-header #et-top-navigation,
    .et_header_style_fullscreen .et-fixed-header #et-top-navigation {
        padding: 41px 0 41px 0 !important
    }

    .et-fixed-header#top-header,
    .et-fixed-header#top-header #et-secondary-nav li ul {
        background-color: #f8f8f8
    }

    .et-fixed-header #top-menu a,
    .et-fixed-header #et_search_icon:before,
    .et-fixed-header #et_top_search .et-search-form input,
    .et-fixed-header .et_search_form_container input,
    .et-fixed-header .et_close_search_field:after,
    .et-fixed-header #et-top-navigation .et-cart-info {
        color: #361b10 !important
    }

    .et-fixed-header .et_search_form_container input::-moz-placeholder {
        color: #361b10 !important
    }

    .et-fixed-header .et_search_form_container input::-webkit-input-placeholder {
        color: #361b10 !important
    }

    .et-fixed-header .et_search_form_container input:-ms-input-placeholder {
        color: #361b10 !important
    }

    .et-fixed-header #top-menu li.current-menu-ancestor>a,
    .et-fixed-header #top-menu li.current-menu-item>a,
    .et-fixed-header #top-menu li.current_page_item>a {
        color: #ec6726 !important
    }

    .et-fixed-header#top-header a {
        color: #361b10
    }
}

@media only screen and (min-width:1462px) {
    .et_pb_row {
        padding: 29px 0
    }

    .et_pb_section {
        padding: 58px 0
    }

    .single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {
        padding-top: 87px
    }

    .et_pb_fullwidth_section {
        padding: 0
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif
}

body,
input,
textarea,
select {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif
}

.vertical-tabs1 {
    border: none
}

.vertical-tabs1 ul.et_pb_tabs_controls {
    float: left;
    width: 35%;
    margin-right: 3%;
    background: transparent
}

.vertical-tabs1 ul.et_pb_tabs_controls:after {
    content: none
}

.vertical-tabs1 .et_pb_tabs_controls li {
    width: 100%;
    border-right: none !important;
    border-left: 5px solid transparent;
    background: #f4f4f4
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active {
    border-left: 5px solid #E40D7F !important;
    background: #ffffff
}

.vertical-tabs1 .et_pb_tabs_controls li a {
    padding: 20px 20px
}

.vertical-tabs1 .et_pb_tabs_controls li.et_pb_tab_active a {
    color: #E40D7F !important
}

.vertical-tabs1 .et_pb_tab {
    padding: 0;
    width: 60%;
    float: left
}

.vertical-tabs1 .et_pb_tab_content {
    display: flex;
    flex-wrap: wrap
}

@media(max-width:767px) {
    .vertical-tabs1 ul.et_pb_tabs_controls {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0
    }

    .vertical-tabs1 .et_pb_tabs_controls li {
        border-bottom: none
    }

    .vertical-tabs1 .et_pb_tab {
        padding: 0
    }

    .vertical-tabs1 .et_pb_tab_content {
        display: block
    }
}

.tutor-wrap {
    margin: 50px 0
}

@media only screen and (min-width:681px) {
    .verticle-align {
        display: flex;
        align-items: center
    }
}

@media only screen and (min-width:981px) {
    #logo {
        max-height: 80%;
        margin-top: -60px;
        z-index: 999
    }
}

.et_fixed_nav #top-header {
    z-index: -99
}

#et-info {
    float: right
}

.et_pb_blog_grid .et_pb_post {
    border: 0px solid #d8d8d8;
    box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.1)
}

.tutor-price-preview-box .price {
    display: none !important
}

.tutor-social-share {
    display: none !important
}

.fa-linkedin-in, .fa-instagram {
    cursor: pointer
}

.tutor-course-level {
    display: none
}

.tutor-course-purchase-btn {
    display: none !important
}

.single-instructor-wrap {
    display: none
}

.tutor-course-instructors-wrap.tutor-single-course-segment {
    text-indent: -9999px;
    line-height: 0
}

.tutor-course-instructors-wrap.tutor-single-course-segment::after {
    content: "Tous nos formateurs ont plusieurs années d’expérience et ont occupé des postes à responsabilités en entreprise. Leur expérience de terrain tout comme leurs qualités pédagogiques leur permettent de vous apporter des solutions concrètes, efficaces et éprouvées.";
    text-indent: 0;
    display: block;
    line-height: initial
}

.tutor-loop-course-footer,
.tutor-course-loop-level,
.tutor-course-wishlist {
    display: none
}

.tutor-single-course-sidebar.tutor-price-preview-box.tutor-single-course-segment,
.tutor-course-material-includes-wrap>.tutor-segment-title {
    text-indent: -9999px;
    line-height: 0
}

.tutor-single-course-sidebar.tutor-price-preview-box.tutor-single-course-segment,
.tutor-course-material-includes-wrap>.tutor-segment-title::after {
    content: "Notre pédagogie";
    text-indent: 0;
    display: block;
    line-height: initial
}

.fa-check {
    color: #ec6726
}

.et_pb_scroll_top {
    background: #ec6726 !important
}

.post-237279>.tutor-container>.tutor-row>.tutor-col-8.tutor-col-md-8>.tutor-segment-title {
    text-indent: -9999px;
    line-height: 0
}

.post-237279>.tutor-container>.tutor-row>.tutor-col-8.tutor-col-md-8>.tutor-segment-title::after {
    content: "A propos du médiateur/de la médiatrice";
    text-indent: 0;
    display: block;
    line-height: initial
}

.post-237279>.tutor-container>.tutor-row>.tutor-col-8.tutor-col-md-8>.tutor-course-instructors-wrap.tutor-single-course-segment {
    text-indent: -9999px;
    line-height: 0
}

.post-237279>.tutor-container>.tutor-row>.tutor-col-8.tutor-col-md-8>.tutor-course-instructors-wrap.tutor-single-course-segment::after {
    content: "Le médiateur professionnel s'appuie sur son expertise en matière de communication. Il est un agent actif du dialogue entre les parties et veille à ce titre à la qualité des messages et de leur réception. Son intervention repose sur une posture : imprtialité, neutralité, indépendance et une garantie : la confidentialité.  Nos médiateurs professionnels disposent de plus de 10 ans d’expérience réussie en matière de médiation. Ils sont Titulaires du Certificat d’Aptitude à la profession de Médiateur (CAP’M) par l’EPMN (École Professionnelle de la Médiation et de la Négociation) et adhérent à la CPMN (Chambre Professionnelle de la Médiation et de la Négociation) ainsi qu’aux obligations relatives au respect de son code d’éthique et de déontologie dit CODEOME	";
    text-indent: 0;
    display: block;
    line-height: initial
}